html, body {
  border: 0;
  margin: 0;
  font-family: Open Sans;
  -webkit-user-select: none;
}

#left {
  float: left;
  display: block;
  width: 30%;
  height: 100vh;
  overflow: scroll;
}

.bugfix1 {
  width: 29.99% !important;
}

.bugfix2 {
  width: 29.999% !important;
}

.leftEmail {
  background-color: white;
  padding: 7px;
}

.leftEmail .sender {
  font-weight: 600;
}

.leftEmail .subject {
  text-indent: 5%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.leftEmail.selectedLeftEmail {
  background-color: #CDBFE6;
}

#searchBar {
  width: 30%;
  background-color: #2196F3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBox {
  background-color: white;
  line-height: normal;
  width: 70%;
  border: 0;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 14px;
}

#right {
  float: left;
  display: block;
  width: 70%;
  height: 100vh;
  background-color: #673AB7;
}

#mainBar {
  width: 64%;
  background-color: #2196F3;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar {
  height: 40px;
  position: fixed;
}

#refresh {
  background-color: white;
  padding-right: 6px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
}

#compose {
  background-color: white;
  padding: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 20px;
}

#logo {
}

#readView {
  width: 86%;
  margin-left: 5%;
  background-color: #F0E7FF;
  margin-top: 20px;
  padding: 2%;
  border-radius: 5px;
  -webkit-user-select: initial;
}

#readView .preText {
  display: inline;
  text-decoration: underline;
  font-weight: 600;
}

.buffer {
  padding-top: 40px;
}
